#!/usr/bin/env ruby

# A few helpful tips about the Rules file:
#
# * The order of rules is important: for each item, only the first matching
#   rule is applied.
#
# * Item identifiers start and end with a slash (e.g. "/about/" for the file
#   "content/about.html"). To select all children, grandchildren, ... of an
#   item, use the pattern "/about/*/"; "/about/*" will also select the parent,
#   because "*" matches zero or more characters.

compile '/css/*/' do
  # don't filter or layout
end

# for NanDoc: begin hack
nandoc_ds = @site.config[:data_sources].first
fail("nandoc hack failed!") unless nandoc_ds[:type] == 'nandoc'

nandoc_ds[:config][:source_file_basenames].each do |name|
  identifier_pattern = "/#{name}/*" # e.g. '/README/*'
  compile identifier_pattern do
    filter :erb
    filter :kramdown
    layout 'default'
  end
end

# if we are using e.g. README.md for main index. hack alert!
if nandoc_ds[:config][:use_as_main_index].to_s =~ /\.md\Z/
  compile '/' do
    filter :erb
    filter :kramdown
    layout 'default'
  end
end

route '/css/*' do
  if item.children.empty?
    item.identifier =~ /^(.+)\/$/
    "#{$1}.css"
  else
    fail("don't know what to do with folders in css/: #{item.identifier}")
  end
end

# end NanDoc hacks

compile '*' do
  filter :erb
  layout 'default'
end

route '*' do
  item.identifier + 'index.html'
end

layout '*', :erb
